@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff; /* Light background */
  color: #333;
}

/* Specific styling for headers and body text */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Plus Jakarta Sans';
}

/* LOGIN */
.loginH1 {
  font-family: 'Plus Jakarta Sans';
  font-size: 40px;
  font-weight: 800;
  color: #12223B;
}
.loginLabel {
  font-family: 'Plus Jakarta Sans';
  font-size: 15.5px;
  font-weight: 500;
  color: #000;
}
.input-placeholder::placeholder {
  font-family: 'Plus Jakarta Sans';
  font-size: 13px;
  font-weight: 400;
  color: #808080;
}

/* REGISTER */
.registerH1 {
  font-family: 'Plus Jakarta Sans';
  font-size: 40px;
  font-weight: 800;
  color: #12223B;
}

.registerLabel {
  font-family: 'Plus Jakarta Sans';
  font-size: 15.5px;
  font-weight: 500;
  color: #000;
}

.registerInput::placeholder {
  font-family: 'Plus Jakarta Sans';
  font-size: 13px;
  font-weight: 400;
  color: #808080;
}



/* SIGNUP */
.signupH1 {
  font-family: 'Plus Jakarta Sans';
  font-size: 36px;
  font-weight: 700;
  color: #05264E;
}

.signupH2 {
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
  font-weight: 500;
  color: #66789C;
}

.signupH3 {
    font-family: 'Plus Jakarta Sans';
  font-size: 17.5px;
  font-weight: 700;
  color: #05264E;
}
.signupBullet {
    font-family: 'Plus Jakarta Sans';
  font-size: 14px;
  font-weight: 500;
  color: #454545;
}

/* OTP */
.otpH1 {
  font-family: 'Plus Jakarta Sans';
  font-size: 26.5px;
  font-weight: 700;
  color: #000;
}
.otpP {
  font-family: 'Plus Jakarta Sans';
  font-size: 17px;
  font-weight: 500;
  color: #667282;
}
.otpInput {
  font-family: 'Plus Jakarta Sans';
  font-size: 22px;
  font-weight: 800;
}
.popTitle {
  font-family: 'Plus Jakarta Sans';
  font-size: 19.5px;
  font-weight: 600;
  color: #000;
}
.popP {
  font-family: 'Plus Jakarta Sans';
  font-size: 11.5px;
  font-weight: 400;
  color: #000;
}

/* onboarding */
.stepsNumber {
    font-family: 'Plus Jakarta Sans';
  font-size: 17px;
  font-weight: 800;
}

.stepsH1 {
  font-family: 'Plus Jakarta Sans';
  font-size: 28.5px;
  font-weight: 600;
  color: #12223B;
}

.stepsLabel {
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

.stepsSkills {
  font-family: 'Plus Jakarta Sans';
  font-size: 15.5px;
  font-weight: 400;
  color: #000000;
}

/* profile */

.profileH1 {
  font-family: 'Plus Jakarta Sans';
  font-size: 28.5px;
  font-weight: 600;
  color: #12223B;
}

.profileLabel {
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

.profileSkills {
  font-family: 'Plus Jakarta Sans';
  font-size: 15.5px;
  font-weight: 400;
  color: #000000;
}


.headingH1 {
  font-family: 'Plus Jakarta Sans';
  font-size: 54.57px;
  font-weight: 800;
}
.headingP {
  font-family: 'Plus Jakarta Sans';
  font-size: 20.46px;
  font-weight: 400;
  color: #4F5E64;
}

.footerH4 {
  font-family: 'Plus Jakarta Sans';
  font-size: 14.7px;
  font-style: bold;
  font-weight: 700;
  color: #05264E;
}
.footerP {
  font-family: 'Plus Jakarta Sans';
  font-size: 12.86px;
  font-weight: 400;
  color: #4F5E64;
}
.footerSubText {
  font-family: 'Plus Jakarta Sans';
  font-size: 11.02px;
  font-weight: 500;
  font-style: medium;
  color: #66789C;
}
.categoriesP {
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
  font-weight: 500;
  color: #66789C;
}
.browseH2 {
  font-family: 'Plus Jakarta Sans';
  font-size: 36px;
  font-weight: 700;
  color: #05264E;
}
.browseH3 {
  font-family: 'Plus Jakarta Sans';
  font-size: 22px;
  font-weight: 700;
  color: #05264E;
}
.browseP {
  font-family: 'Plus Jakarta Sans';
  font-size: 16px;
  font-weight: 500;
  color: #4F5E64;
}
.pCard {
  font-family: 'Plus Jakarta Sans';
  font-size: 16px;
  font-weight: 400;
  color: #667282;
}
.h3Card {
  font-family: 'Plus Jakarta Sans';
  font-size: 23px;
  font-weight: 600;
  color: #12223B;
}

.jobh4 {
  font-family: 'Plus Jakarta Sans';
  font-size: 17px;
  font-style: bold;
  font-weight: 700;
  color: #05264E;
}

.jobP {
  font-family: 'Plus Jakarta Sans';
  font-size: 12px;
  font-weight: 400;
  color: #A0ABB8;
}

.jobPrice {
  font-family: 'Plus Jakarta Sans';
  font-size: 21px;
  font-style: bold;
  font-weight: 700;
  color: #CC0000;
}

.pricingh3 {
  font-family: 'Plus Jakarta Sans';
  font-size: 28px;
  font-style: bold;
  font-weight: 700;
  color: #05264E;
}

.pricingPrice {
  font-family: 'Plus Jakarta Sans';
  font-size: 56px;
  font-style: extra-bold;
  font-weight: 800;
  color: #CC0000;
}

.pricingPriceSubtext {
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
  font-weight: 400;
  color: #A0ABB8;
}

.pricingP {
  font-family: 'Plus Jakarta Sans';
  font-size: 14px;
  font-weight: 500;
  font-style: medium;
  color: #4F5E64;
}

.pricingFeatures {
  font-family: 'Plus Jakarta Sans';
  font-size: 15px;
  font-weight: 400;
  color: #A0ABB8;
}

.faqTitle {
  font-family: 'Plus Jakarta Sans';
  font-size: 18px;
  font-style: bold;
  font-weight: 600;
}

.faqP {
  font-family: 'Plus Jakarta Sans';
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
}

.subscribeH2 {
  font-family: 'Plus Jakarta Sans';
  font-size: 34px;
  font-style: semi-bold;
  font-weight: 600;
  color: #FFFFFF;
}

.subscribeP {
  font-family: 'Plus Jakarta Sans';
  font-size: 13px;
  font-weight: 400;
}

.apple-link {
  font-family: 'SF Compact Text';
  font-weight: 500;
  font-weight: medium;
  color: #FFFFFF;
}

.googlePlay-link {
  font-family: 'Product Sans';
  font-weight: 400;
  color: #FFFFFF;
}

p, li, span {
  font-weight: 400; /* Regular font weight for body text */
}

.custom-link {
  color: #05264E;
  font-family: 'Plus Jakarta Sans';
  font-size: 17.85px;
  font-weight: 500;
}
.custom-link-button {
  color: #fff;
  font-family: 'Plus Jakarta Sans';
  font-size: 17.85px;
  font-weight: 500;
}